.admin-header {
    padding-top: 2rem;
}

.admin-header p {
    font-size: 0.8rem;
}

.flex-three {
    display: flex;
    justify-content: space-between;
}

.center-header ul{
    display: flex;
    gap: 1.5rem;
    margin-top: 10px;
}

.center-header a {
    color: gainsboro;
}

.admin-menu {
    display: none;
}

.admin-show-menu {
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100vh;
    z-index: 10;
    display: none;
}

.admin-show-menu a{
    color: white;
    padding: 1rem;
    display: block;
    transition: 0.5s ease-in-out;
}
.admin-show-menu a:hover {
    background-color: white;
    color: black;
}















.admin-dashboard-main {
    /* border: 2px solid red; */
    padding-top: 75px;
}

.grid-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.grid-three > div {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}









.admin-left a{
    color: white;
    padding: 0.8rem;
    display: block;
}

.latest-booking {
    padding: 1rem 0;
    border-top: 2px solid rgb(186, 185, 185);
}

.book-box {
    display: flex;
    gap: 2rem;
}



@media (max-width: 575.98px) {
    
}
  
@media (max-width: 992px) {
    .admin-menu {
        display: flex;
    }
    .center-header {
        display: none;
    }
    .img-admin-logo {
        display: none;
    }
    .logoname {
        display: none;
    }
    .admin-left {
        display: none;
    }
}
